header {
    height: 50px;
    background-color: rgb(200, 200, 200);
}

.index-container {
    margin: auto;
    display: flex;
    width: 1000px;
    padding-top: 20px;

}


.index-list {
    margin-right: 30px;
    flex: 0 auto;
    width: 25%;
    padding-right: 10px;
    border-right: 1px solid rgb(131, 131, 131);


}

.index-list h3 {
    margin: 10px 0;



}

.test2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


}

.index-list li a {
    font-size: 14px;
    color: black;
    opacity: 0.5;

}

.index-list li :hover {
    opacity: 1;
    transition: 0.1s
}



.index-box {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




.aaa {
    width: 48%;
    height: 200px;
    background-color: white;
    margin-bottom: 20px;

    border-radius: 6px;
    box-shadow: 1px 1px 3px 0 rgb(150, 150, 150);

}

.aaa :hover {
    background-color: rgb(246, 147, 147);
    transition: 0.1s
}
